
*.pyc
*.json
code/library/density_assign/cic.exe
code/err_file.txt
code/out_file.txt
code/hello.txt
code/tmp.py
code/global_properties/hello.txt
code/halo_centric/tmp.py
*.e5*
*.o5*
*t_file1.txt
trash
notes_and_results/plots_and_anims/bdm_cdm1024_r1/accretion_rate/snap_*.svg
