
*.pyc
*.json
code/library/density_assign/cic.exe
code/err_file.txt
code/out_file.txt
code/hello.txt
code/global_properties/hello.txt
code/global_properties/logs/
code/halo_centric/logs/
code/others/logs/
code/halo_centric/tmp.py
job-*.e5*
job-*.o5*
job-*.e6*
job-*.o6*
job-*.p6*
out_file1.txt
trash
tmp*.*
notes_and_results/plots_and_anims/bdm_cdm1024_r1/accretion_rate/snap_*.svg
notebook.log
code/halo_centric/phase-space_*_1by8_3.0e+12_1000.hdf5
# notes_and_results/tmp_notes
code/halo_centric/run_single.sh
code/halo_centric/blhole/
code/others/hello.txt
notes_and_results/plots_and_anims/bdm_cdm1024_r1/halo_centric_TSC_512/old
code/*/blhole
tunneljupy.sh
